<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="page-type" content="about">
  <title>CyanSill | About</title>
  <link href="/theme/css/layui/layui.css" rel="stylesheet" />
  <style>
    .head {
      margin-top: 60px;
    }
  </style>
</head>
<body>
  <div id="header-nav"></div>
  <div class="head">
    <h1>About</h1>
  </div>
  <script src="/theme/js/jquery/jquery-3.7.1.min.js"></script>
  <script src="/theme/js/components/header-nav.js"></script>
</body>
</html>