<html lang="ZH-CN">
  <head>
    <title>CyanSill | Article</title>
    <meta charset="utf-8" />
    <meta name="page-type" content="article" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/theme/css/highlight/default.min.css" rel="stylesheet" />
    <link href="/theme/css/layui/layui.css" rel="stylesheet" />
    <link href="/theme/css/templates/article.css" rel="stylesheet" />
    <script src="/theme/js/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <div id="header-nav"></div>
    <div class="head" id="head">
      <h1 onclick="toHome()">CyanSill</h1>
    </div>
    <div class="body layui-card layui-container" id="body">
      <h1>{{ article.title }}</h1>
      <div class="article-date">
        发布时间：{{ article.date | strftime('%Y年%m月%d日') }}
      </div>
      <div class="article-content">
        {{ article.content }}
      </div>
    </div>

    <script src="/theme/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="/theme/js/components/header-nav.js"></script>    
    <script>
      function toHome() {
        window.location.href = '/';
      }
    </script>
  </body>
</html>